* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    top: 0;
    left: 0;
}


header {
    position: fixed;
    width: 100%;
    height: 48px;
}


.barremenu1 {
    width: 100%;
    height: 48px;
    background-color: black;

}

.logo {
    color: white;
    margin-left: 30px;
    width: 10%;
    height: 48px;

}

.logo h1 {
    padding-top: 10px;
}

.buttonmenu1 {
    float: right;
    margin-right: 5%;
    position: relative;
    bottom: 40px;
}

.buttonmenu1 li {
    color: #cbc9c9;
    display: inline-block;
    margin-right: 40px;

}

.buttonmenu1 li:hover {
    color: white;
}

li {
    cursor: pointer;
}

li button {
    border: solid 2px white;
    color: black;
    background-color: white;
    width: 5rem;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

i {
    margin-right: 5px;
}

.barremenu2 {
    width: 100%;
    height: 40px;
    background-color: rgba(42, 42, 42, 0.99);
}

.buttonmenu2 {
    width: 100%;
}

.buttonmenu2 li {
    width: 5%;
    height: 29px;
    color: #cbc9c9;
    display: inline-block;

    margin-left: 5%;
    margin-top: 10px;
}

.select {
    color: white;
    border-bottom: solid 4px white;
}

section {
    width: 60%;

}