* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    top: 0;
    left: 0;
}


header {
    position: absolute;
    width: 100%;
    height: 48px;
}


.barremenu1 {
    width: 100%;
    height: 48px;
    background-color: black;
    position: fixed;
}

.logo {
    color: white;
    margin-left: 30px;
    width: 10%;
    height: 48px;

}

.logo h1 {
    padding-top: 10px;
}

.buttonmenu1 {
    float: right;
    margin-right: 5%;
    position: relative;
    bottom: 40px;
}

.buttonmenu1 li {
    color: #cbc9c9;
    display: inline-block;
    margin-right: 40px;

}

.buttonmenu1 li:hover {
    color: white;
}

li {
    cursor: pointer;
}

li button {
    border: solid 2px white;
    color: black;
    background-color: white;
    width: 5rem;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

i {
    margin-right: 5px;
}

.barremenu2 {
    width: 100%;
    height: 40px;
    background-color: rgba(42, 42, 42, 0.99);
}

.buttonmenu2 {
    width: 100%;
}

.buttonmenu2 li {
    width: 5%;
    height: 29px;
    color: #cbc9c9;
    display: inline-block;

    margin-left: 5%;
    margin-top: 10px;
}

.select {
    color: white;
   margin-top: 5px;
    border-bottom: solid 4px white;
}

section {
    width: 60%;
    height: 600px;
    margin-left: 50px;
    position: relative;
    top: 90px;
}

section a {
    text-decoration-line: none;
    color: black;
    font-size: 0.8em;
}

.art1 {
    margin-top: 15px;
    width: 60%;
    height: 430px;
    background-image: url(../img/Capture.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenu {
    margin-left: 100%;
    width: 60%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.contenu h1 {
    margin-top: 10px;
    cursor: pointer;
}

.contenu h6 {
    color: #6b6b6b;
}


.contenu p {
    display: inline;
    font-size: 0.8em;
    margin-left: 5px;
    color: #6b6b6b;
}

.art2 {
    margin-top: 30px;
    width: 60%;
    height: 430px;
    background-image: url(../img/Capture2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenu2 {
    margin-left: 100%;
    width: 60%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.contenu2 h1 {
    margin-top: 10px;
    cursor: pointer;
}

.contenu2 h6 {
    color: #6b6b6b;
}


.contenu2 p {
    display: inline;
    font-size: 0.8em;
    margin-left: 5px;
    color: #6b6b6b;
}

.art1:hover {
    cursor: pointer;
}
.art2:hover {
    cursor: pointer;
}

aside {
    width: 33%;
    height: 600px;
    float: right;
    margin-top: 90px;

}


.aside-contenu {
    width: 100%;
    height: 150px;
}

.video {
    width: 45%;
    height: 150px;
    background-image: url(../img/Capture3.png);
    background-size: cover;
}

h4 {
    width: 60%;
    margin-left: 105%;
}

.video a {
    margin-top: 5px;
    width: 60%;
    margin-left: 110%;
    text-decoration-line: none;
    color: black;
    font-size: 0.8em;
}

.video p {
    margin-top: 5px;
    width: 60%;
    margin-left: 105%;
    color: #6b6b6b;
    font-size: 0.8em;
}

.video2 {
    margin-top: 30px;
    width: 45%;
    height: 150px;
    background-image: url(../img/Capture4.png);
    background-size: cover;
}

.video2 a {
    margin-top: 5px;
    display: block;
    width: 100%;
    margin-left: 110%;
    text-decoration-line: none;
    color: black;
    font-size: 0.8em;
}

.video2 p {
    margin-top: 5px;
    width: 60%;
    margin-left: 105%;
    color: #6b6b6b;
    font-size: 0.8em;
}

.video3 {
    margin-top: 30px;
    width: 45%;
    height: 150px;
    background-image: url(../img/Capture5.png);
    background-size: cover;
}

.video:hover {
    cursor: pointer;
}

.video2:hover {
    cursor: pointer;
}

.video3:hover {
    cursor: pointer;
}

.video3 a {
    margin-top: 5px;
    display: block;
    width: 100%;
    margin-left: 110%;
    text-decoration-line: none;
    color: black;
    font-size: 0.8em;
}

.video3 p {
    margin-top: 5px;
    width: 60%;
    margin-left: 105%;
    color: #6b6b6b;
    font-size: 0.8em;
}

aside p {
    color: #6b6b6b;
}